@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
*{
    margin: -1px;
    padding: 0px;
    --cor1: hsl(257, 40%, 49%);
    --cor2:hsl(300, 69%, 71%);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.mobile{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;  
    background-size: cover; 
    
}
body{
    height: 98vh;
    position: relative;
    background-color: var(--cor1);
    overflow: hidden;
}
main{
    position: relative;
    min-width: 375px;
    max-width: 1440px;
    text-align: center;
    
}
.logo{
    position: relative;
    left: -20%;
    width: 9em;
}
.frame{
    position: relative;
    left: -4%;
    margin-top: 40px;
    width: 270px;
    
}
h1{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1.6em;
}
main p{
    margin: 80px 23px 80px 23px;
    color: white;
    
}

.botao{
    text-decoration: none;
    background-color: white;
    border-radius: 30px;
    padding: 15px 80px 15px 80px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493) ;
}
.botao:hover{
    background-color: var(--cor2);
    color: white;
}
.icon{
    text-align: center;
}
svg{
    position: relative;
    fill: white;
    margin-top: 80px;
    margin-right: 13px ;
    display:inline;
    width: 30px;
    height: 30px;
    cursor: pointer;   
}
svg:hover{
    fill: var(--cor2);
}
footer{
    position: relative;
    text-align: center;
    margin: 19px;
    color: white;
    font-size: 0.7em;
}
footer  a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
footer a:hover{
    color: var(--cor2);
}
